textarea {
  resize: none;
}

.fa {
  cursor: pointer;
}

.jumbotron {
  height: 300px;
  background-image: url("../../public/img/banner.jpg");
  background-position: center;
  background-size: cover;
}

.jumbotron > .position-absolute {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
